body{
    background-image: url(imgs/game_wallpapers.png);
}
h1{
    color: rgb(175, 96, 248);
}
p{
    font-size: 18px; /* Tamanho da fonte */
    line-height: 0.6; /* Altura da linha (espaçamento entre linhas) */
    color:blueviolet /* Cor do texto */
}
h1,p{
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none; /* Remove sublinhado padrão dos links */
}
