body {
    background-image: url(imgs/game_wallpapers.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    font-family: Arial, sans-serif;
    margin: 6px;
    padding: 6px;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}


h1,h2 {
    color: rgb(151, 44, 252);
}
p{
    font-size: 18px;
    color:rgb(174, 100, 243)
}

#cap{
    opacity: 0.7;
}

#img{
    border: 2px solid rgb(0, 0, 0);
    opacity: 0.8;
    border-radius: 70%;
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: 200px; 
    height: auto; 
}
